


.show{
    text-align: center;
    justify-content: space-around;
    background-color: white;
    width: 80%;
    box-shadow: 0px 10px 20px 10px rgb(128, 128, 128);
    
}

.detail{
    font-size: 100px;
}

.music{
    font-size: 50px;
}

.comment-wrapper{
    font-size: 50px;
}